* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(11, 0, 43);
  font-family: sans-serif;
  color: rgb(218, 218, 218);
}
.header {
  width: 100%;
  height: 120vh;
  background-image: url("assets/images/20.jpeg");
  background-size: 100% 120vh;
}

nav .fa-solid {
  display: none;
}
.header nav img {
  width: 80px;
  height: 80px;
  border-radius: 47%;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10%;
}
.header nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.header nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff9100;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.header nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 10%;
  padding-left: 70px;
  color: whitesmoke;
}
.header-text p {
  color: rgba(255, 255, 255, 0.74);
  font-size: 18px;
}
.header-text h1 {
  margin-top: 20px;
  font-size: 80px;
}
.header-text h1 span {
  color: #ff9100;
}
/*--------------- about ------------*/
.about {
  padding: 80px 20px;
}
.about .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col-1 {
  flex-basis: 35%;
}
.col-1 img {
  width: 100%;
  border-radius: 170px;
}
.col-2 {
  flex-basis: 60%;
}

.col-2 h1 {
  font-size: 40px;
  font-weight: 600;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff9100;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff9100;
  font-size: 14px;
  font-weight: bold;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/*-------------Topics------*/
.topics {
  padding: 30px 50px;
}
.topics-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.topics-list div {
  background: #d8d4d4;
  color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.topics-list i {
  font-size: 50px;
  margin-bottom: 30px;
}
.topics-list div h2 {
  margin-bottom: 15px;
}
.topics-list div a {
  text-decoration: none;
  color: rgb(87, 2, 2);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.topics-list div:hover {
  color: white;
  background: #ff9100;
  transform: translateY(-10px);
}
/*-------portfolio---*/
.portfolio {
  padding: 50px 50px;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.project {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.project img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff9100);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 150px;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff9100;
  font-size: 20px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.project:hover img {
  transform: scale(1.1);
}
.project:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff9100;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}
.btn:hover {
  background: #ff9100;
}
/*-------contact----*/
.contact {
  padding: 0 50px;
}
.colcontact-left {
  flex-basis: 35%;
}
.colcontact-right {
  flex-basis: 60%;
}
.colcontact-left p {
  margin-top: 30px;
}
.colcontact-left p i {
  color: #ff9100;
  margin-right: 15px;
  font-size: 25px;
}
.social-media {
  margin-top: 30px;
}
.social-media a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-media a:hover {
  color: #ff9100;
  transform: translateY(-5px);
}
.btn.btn2 {
  display: inline-block;
  background: #ff9100;
}
.contact .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.colcontact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #ffffffcc;
  padding: 15px;
  margin: 15px 0;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #080124;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: #ff9100;
}
/*---------------- CSS for small screens-----*/

@media screen and (max-width: 600px) {
  .header {
    background-image: url(assets/images/21.jpg);
  }
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff9100;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 60px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li a {
    display: block;
    margin: 30px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .col-2 h1 {
    font-size: 30px;
  }
  .col-1,
  .col-2 {
    flex-basis: 100%;
  }
  .col-1 {
    margin-bottom: 30px;
  }
  .col-2 {
    font-size: 18px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .colcontact-left,
  .colcontact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}
#msg {
  color: #ff9100;
  margin-top: -35px;
  display: block;
}
